{% extends 'base/layout.html' %}

{% block title %}
{{product.product_slug}}
{% endblock %}

{% block body %}
{% include 'base/message.html' %}
    <!-- Start Cart Details -->
    <section class="h-100">
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
      
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0">Shopping Cart</h3>
                <div>
                  <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                        class="fas fa-angle-down mt-1"></i></a></p>
                </div>
              </div>

              {% for item in cart.cart_items.all %}

              <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="{{ item.product.product_image.first.image.url }}" class="img-fluid rounded-3" alt="{{ item.product.product_name }}" style="height: 100px;">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="lead fw-normal mb-2">{{item.product.product_name}}</p>
                      <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <form action="{% url 'order' %}" method="POST" class="form-control">
                        <select name="quantity_{{item.product.product_slug}}" id="item_quantity" class="form-select form-select-sm" required>
                          <option value="" disabled selected>Select Quantity</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>   
                      </form>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" style="width: fit-content;">
                      <h5 class="mb-0">Unit Price: Rs.{{item.price}}</h5>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="card mb-4">
                <div class="card-body p-4 d-flex flex-row">
                  <div data-mdb-input-init class="form-outline flex-fill">
                    <input type="text" id="form1" class="form-control form-control-lg" />
                    <label class="form-label" for="form1">Discound code</label>
                  </div>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                </div>
              </div>
      
              <div class="card">
                <div class="card-body">
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-block btn-lg">Confirm Order</button>
                </div>
              </div>
      
            </div>
          </div>
        </div>
    </section>
    
{% endblock %}