{% extends 'base/layout.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block body %}
<hr>
<!-- templates/edit_profile.html -->
{% include 'base/message.html' %}

<form action="{% url 'edit_profile' %}" method="post">
    {% csrf_token %}

    <div class="mb-3 row">
        <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            <input type="email" name="email" maxlength="254" class="form-control" autofocus required id="id_email" value="{{user.email}}">
        </div>
        <hr>
        <label for="id_first_name" class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-10">
            <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name" value="{{user.first_name}}">
        </div>
        <hr>
        <label for="id_last_name" class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name" value="{{user.last_name}}">
        </div>
        <hr>
        <label for="id_contact" class="col-sm-2 col-form-label">Contact:</label>
        <div class="col-sm-10">
            <input type="text" name="contact" maxlength="20" class="form-control" id="id_contact" value="{{user.contact}}">
        </div>
        <hr>
        <label for="id_address" class="col-sm-2 col-form-label">Address:</label>
        <div class="col-sm-10">
            <input type="text" name="address" maxlength="200" class="form-control" id="id_address" value="{{user.address}}">
        </div>
    </div>
    <hr>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>
{% endblock %}
