{% extends 'base/layout.html' %}

{% block title %}
Products
{% endblock %}

{% block body %}
{% include 'base/message.html' %}
<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Product</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        {% for item in items_images %}
        <p>Slug: {{ item.product.product_slug }}</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img src="{{item.first_image.image.url}}" alt="{{item.product.product_name}}" style="height: 200px;">
                        <div class="button">
                            <a href="{% url 'add_to_cart' item.product.product_slug %}" class="btn btn-primary"><i class="lni lni-cart"></i>Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category"></span>
                        <h4 class="title">{{item.product.product_category.category_name}}</h4>
                        <h4 class="title">
                            <a href="{% url 'product' item.product.product_slug %}">{{item.product.product_name}}</a>
                        </h4>
                        <ul class="review">
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star"></i></li>
                            <li><span>4.0 Review(s)</span></li>
                        </ul>
                        <div class="price">
                            <span>Rs. {{item.product.product_price}}</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}  